<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Document.GetString("PageTitle")</title>

    <link type="text/css" rel="stylesheet" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <meta charset="utf-8">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
    
    <meta property="og:title" content="@Document.GetString("PageTitle")">
    <meta property="og:url" content="@String.Format("https://zunderscore.tv{0}", @Document.GetLink())">
    <meta property="og:image" content="https://zunderscore.tv/images/z_icon.png">
    <meta property="og:image:secure_url" content="https://zunderscore.tv/images/z_icon.png">
    <meta property="og:updated_time" content="1642568400000">

@if(Document.ContainsKey("TwitterCardType"))
{
    <meta name="twitter:card" content="@Document.GetString("TwitterCardType")">
}
else
{
    <meta name="twitter:card" content="summary">
}

@if(Document.ContainsKey("TwitterPlayer"))
{
    <meta name="twitter:player" content="@Document.GetString("TwitterPlayer")">
}
    <meta name="twitter:title" content="@Document.GetString("Title")">
    <meta name="twitter:image" content="https://zunderscore.tv/images/z_icon.png">
    <meta property="twitter:domain" content="@Document.GetString("SiteTitle")">
    <meta property="twitter:url" content="@String.Format("https://zunderscore.tv{0}", @Document.GetLink())">

@if(Document.ContainsKey(WebKeys.Description))
{
    <meta name="description" content="@Document.GetString(WebKeys.Description)">
    <meta property="og:description" content="@Document.GetString(WebKeys.Description)">
    <meta name="twitter:description" content="@Document.GetString(WebKeys.Description)">
}
else
{
    <meta name="description" content="Ice bear likes food. And video games. And talking about feelings. ❤️ Admiral in &commat;AdmiralsFleetTV. he/him #XboxAmbassador">
    <meta property="og:description" content="Ice bear likes food. And video games. And talking about feelings. ❤️ Admiral in &commat;AdmiralsFleetTV. he/him #XboxAmbassador">
    <meta name="twitter:description" content="Ice bear likes food. And video games. And talking about feelings. ❤️ Admiral in &commat;AdmiralsFleetTV. he/him #XboxAmbassador">
}

@if(Document.ContainsKey(WebKeys.Author))
{
    <meta name="author" content="@Document.GetString(WebKeys.Author)">
}

    @RenderSection("Head", false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C9LCJ4WPWY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-C9LCJ4WPWY');
    </script>
</head>

<body>
    @RenderSectionOrPartial("Header", "_header")

    <!-- Main Content -->
    <div class="container"> 
        @RenderBody()
    </div>

    @RenderSectionOrPartial("Footer", "_footer")
</body>
</html>